*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/



/* Fonts --------------------------------------------*/
/* 
font-family: 'Outfit', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Paytone One', sans-serif;
font-family: 'Poppins', sans-serif; 
*/



:root {
    font-family: 'Outfit', sans-serif;
    font-family: calibri;
    font-size: 18px;
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #191919FF;
}

a {
    color: white;
}



/*=====================
    HEADER
=====================*/
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 81;

    width: 100%;
    padding: 0px 40px;
}

header.dark-theme {
    background-color: rgba(0, 0, 0, .8);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1200px;
    width: 100%;
    height: 100px;

    margin: 0 auto;
}

/* Logo *********/
.logo {
    font-size: 2rem;
    font-weight: 700;
}

.menu {
    display: flex;
    gap: 40px;
}

.nav-link {
    position: relative;

    font-size: 17px;
    text-transform: capitalize;
}

.nav-link::before {
    content: "";

    position: absolute;
    bottom: -2px;
    left: 0;

    display: block;
    width: 0%;
    height: 2px;

    background-color: orange;
    transition: .3s;
}

.nav-link:hover::before {
    width: 100%;
}

/* Shopping Cart *********/
.shopping-cart {
    position: relative;
    cursor: pointer;
    transition: .3s;

    z-index: 1;

    background-color: transparent;
}

.shopping-cart:hover {
    transform: scale(1.08);
}

.fa-cart-shopping {
    font-size: 1.8rem;
    color: white;
}

.card-item-counter {
    position: absolute;
    top: -17px;
    right: -15px;

    width: 30px;
    height: 30px;
    padding-bottom: 2px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;

    font-size: 1.3rem;
    font-weight: 700;

    color: white;
    background-color: red;
}

/* Toggle Btn */
i.toggle-btn {
    position: relative;
    z-index: 101;

    display: none;
    font-size: 1.8rem;
    color: white;

    cursor: pointer;
}

@media(max-width: 660px) {
    header {
        padding: 0 25px;
    }

    .navbar {
        position: absolute;
        top: 0;
        left: 0;

        visibility: hidden;
        opacity: 0;

        width: 100%;
        min-height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(10px);

        transition: all .5s;
    }

    .navbar.open {
        visibility: visible;
        opacity: 1;
    }

    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0px;

        z-index: 101;

        height: 100vh;
    }

    .nav-link {
        display: block;
        padding:15px;
        font-size: 1.6rem;
        text-transform: uppercase;
        font-weight: 900;

        transition: all .3s;
    }

    .nav-link::before {
        display: none;
    }

    .nav-link:hover {
        transform: scale(1.5);
        color: orange;
    }

    i.toggle-btn {
        display: block;
    }
}



/*=====================
    BACK TO TOP
=====================*/
a.back-to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 80;

    display: none;
    justify-content: center;
    align-items: center;
    padding: 17px 21px;
    background-color: orange;
    color: black;
    border-radius: 100%;
    font-size: 1.5rem;
}



/*=====================
    CART BOX
=====================*/
.cart-box {
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 190;

    max-width: 400px;
    width: 100%;
    height: 100vh;
    padding: 30px;
    padding-top: 50px;

    overflow-y: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    background-color: white;
    border-left: 1px solid #191919FF;

    transition: .5s;
}

.cart-box.open {
    right: 0;
}

.cart-box .title {
    position: relative;
    bottom: 30px;

    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
}

.cart-box .sub-title {
    font-size: 1.5rem;
    font-weight: 200;
    color: red;
    text-align: center;
}

.cart-item-container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    width: 100%;
}

.total-price-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
}

.total-price-box h2 {
    font-size: 1.2rem;
}

.total-price {
    font-weight: 700;
}

/* Close Cart */
i.close-cart {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Cart Item */
.cart-item {
    position: relative;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding-bottom: 10px;
}

.cart-item .image-container {
    width: 80px;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

.cart-item img {
    width: 100%;
}

.cart-item .text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart-item .title {
    font-size: 1.2rem;
    text-align: start;
    font-weight: 600;
    max-width: 180px;
    color: rgb(0, 238, 255);

    position: relative;
    top: 0px;
}

.cart-item .price {
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.remove-container {
    position: absolute;
    right: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cart-item-quantity {
    display: flex;
    align-items: center;
    gap: 5px;
}

.cart-item-quantity input {
    width: 30px;
    height: 30px;
    font-size: 1.2rem;
    text-align: center;
}

.cart-item-quantity .add, .cart-item-quantity .minus {
    background-color: transparent;
    font-weight: 300;
    font-size: 2rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.cart-item .remove-btn {
    background-color: transparent;
    color: red;
    text-decoration: underline;
    letter-spacing: .2px;
}

/* Btn To Checkout */
.btn-to-checkout {
    background-color: black;
    color: white;
    padding: 10px;
    width: 100%;

    font-weight: 700;
    font-size: 16px;
}




/*=====================
    CHECKOUT
=====================*/
.checkout {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 250;

    display: none;
    justify-content: center;
    align-items: flex-start;

    width: 100%;
    height: 100vh;
    min-height: 500px;
    overflow-y: auto;

    padding: 20px;
    padding-top: 80px;

    background-color: white;
}

.checkout.open {
    display: flex;
}

.checkout-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 300px;
}

.checkout .title {
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}

.checkout label {
    font-size: 1rem;
    margin-bottom: 7px;

}

.checkout input:not(.checkout input[type=submit]) {
    border: 1px solid black;
    font-size: 1.1rem;
    padding: 10px;
    margin-bottom: 30px;
}

.checkout input:not(.checkout input[type=submit], .checkout input[type=tel]) {
    text-transform: capitalize;
}

.checkout input:not(.checkout input[type=submit]):focus {
    border-color: orange;
}

.checkout input:not(.checkout input[type=submit])::placeholder {
    color: rgb(202, 202, 202);
    font-weight: 200;
}

.checkout input[type=submit] {
    padding: 15px 10px;
    background-color: black;
    color: white;
    font-size: .8rem;
    margin-top: 10px;
    cursor: pointer;
}

.checkout .checkout-container input.phone {
    text-transform: lowercase;
}

.close-checkout {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: transparent;
    font-size: .8rem;
}




/*=====================
    MAIN
=====================*/
main {
    width: 100%;
    color: white;
}

.main-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.hero-container {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    padding: 20px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-left: 150px;
}

.hero-title {
    font-size: 8rem;
    font-weight: 900;
    text-shadow: 10px 10px 0px orange;
    padding-bottom: 20px;
}

.hero-btn {
    padding: 10px 30px;
    font-size: 1.4rem;
    background-color: orange;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 20px;
    box-shadow: 0px 5px 0px white;
}

.hero-btn:hover {
    transform: translateY(5px);
    box-shadow: none;
    background-color: rgb(255, 194, 82);
}

.hero-image {
    position: absolute;
    top: 100px;
    right: -3%;
    z-index: -1;
    max-width: 800px;
    transform: rotate(-30deg);
}

@media(max-width: 720px) {
    .hero-container {
        width: 100%;
        justify-content: center;
    }

    .hero-text {
        width: 100%;
        padding-left: 0;
        text-align: center;
    }

    .hero-image {
        right: -20%;
    }
}

@media(max-width: 600px) {
    .hero-container {
        width: 100%;
        justify-content: center;
    }

    .hero-title {
        font-size: 6rem;
    }

    .hero-image {
        right: -55%;
    }

    .hero-btn {
        transform: scale(.85);
    }

    .hero-btn:hover {
        transform: scale(.85) translateY(5px);
    }
}



/* Search Bar ***********************************/
.search-bar {
    width: 100%;
    height: 50px;
    padding: 20px;
}

.search-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.search-title {
    font-size: 1.1rem;
    font-weight: 600;
}

#search-input {
    padding: 7px 20px;
    padding-right: 40px;
    font-size: 1rem;
    width: 150px;
    border-radius: 30px;
    transition: .6s;
    position: relative;
}

#search-input::placeholder {
    color: black;
}

#search-input::before {
    content: '';

    display: block;
    width: 20px;
    height: 20px;
    background-image: url('https://cdn3.iconfinder.com/data/icons/feather-5/24/search-512.png');
    background-size: auto;
}

#search-input:focus {
    width: 300px;
    border-radius: 0;
}

#search-input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

.search-container {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.search-container li {
    position: absolute;
    font-size: .9rem;
    top: 9px;
    right: 13px;
    color: black;
    font-weight: 700;
    cursor: pointer;
}



/* Products */
.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 250px));
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 60px;
    min-height: 100vh;

    padding: 150px 20px;
    padding-top: 50px;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 7px;
    overflow: hidden;
    cursor: pointer;
    transition: .3s all;
}

.product:hover {
    transform: translateY(-10px);
}

.product-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 280px;
    overflow: hidden;
    border-radius: 10px;
    background-color: white;
}

.product-image {
    width: 100%;
    overflow: hidden;
}

.product-name {
    font-size: 1.3rem;
    margin-bottom: 5px;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    height: fit-content;
    width: 100%;
    white-space: nowrap;
    color: rgb(0, 238, 255);
}

.product-desc {
    position: relative;
    bottom: 7px;
    font-weight: 300;
    font-size: .9rem;
}

.product-view-btn {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    background-color: orange;
    color: black;
    font-size: .9rem;
    font-weight: 700;
}

.product-price {
    width: 100%;
    font-weight: 900;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

@media(max-width: 530px) {
    .product-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(160px, .5fr));
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        row-gap: 60px;
    
        padding: 150px 20px;
        padding-top: 50px;
    }

    .product-image-container {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 100%;
        height: 230px;
        overflow: hidden;
        border-radius: 10px;
    }
}

@media(max-width: 480px) {
    .product-image-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 200px;
        overflow: hidden;
        border-radius: 10px;
    }
}

@media(max-width: 420px) {
    .product-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(140px, .5fr));
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        row-gap: 60px;
    
        padding: 150px 20px;
        padding-top: 50px;
    }

    .product-name {
        font-size: 1rem;
    }

    .product-price {
        font-size: 1rem;
    }
}


/* Product Pop-Up */
.product-pop-up {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;

    width: 100%;
    height: 100vh;
    padding: 80px 20px;

    overflow-y: auto;

    background-color: white;
    color: black;
}

.product-pop-up.open {
    display: block;
}

.product-pop-up-container {
    max-width: 1000px;
    height: fit-content;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.product-pop-up-image {
    display: flex;
    align-items: center;
    justify-content: center;

    height: fit-content;

    max-height: 500px;
    overflow: hidden;
    border: 1px solid  rgb(191, 191, 191);
}

.product-pop-up-image img {
    width: 100%;
}

.product-information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    max-width: 400px;
}

.product-information .title {
    font-size: 1.7rem;
    font-weight: 900;
    color: rgb(0, 238, 255);
}

.product-information .price {
    font-size: 1.5rem;
    font-weight: 900;
}

.product-information .sizes {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.product-information .sizes label {
    font-size: 1rem;
    font-weight: 300;
    font-weight: 500;
}

.product-information .sizes select {
    border: 1px solid black;
    padding: 2px 20px;
    font-size: 1rem;
    cursor: pointer;
}

.product-information .description {
    font-size: 1rem;
    line-height: 1.7rem;
}

.add-to-cart-btn {
    font-size: 1rem;
    background-color: black;
    color: white;
    padding: 10px 20px;
}

.add-to-cart-btn.added {
    
    font-size: 1.2rem;
    background-color: white;
    color: rgb(68, 68, 68);
    border: 1px solid black;
    padding: 10px 20px;
}

/* Product Pop Up Close */
.product-pop-up-close {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    padding: 15px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-pop-up-close button {
    font-size: 1rem;
    font-weight: 300;
    background-color: transparent;
    cursor: pointer;
}

.product-pop-up-close .fa-xmark {
    font-size: 1.5rem;
    cursor: pointer;
}

@media(max-width: 500px) {
    .product-pop-up-container {
        grid-template-columns: 1fr;
    }

    .product-pop-up-image {
        display: flex;
        align-items: center;
        justify-content: center;
    
        height: fit-content;
    
        max-height: 350px;
        overflow: hidden;
        border: 1px solid  rgb(191, 191, 191);
    }
}



/*=====================
    FOOTER
=====================*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 300px;
    gap: 20px;
    padding: 0 20px;
}

footer h1 {
    font-size: 1.6rem;
    font-weight: 900;
}

footer div {
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 100%;
}

footer .email {
    color: black;
    font-size: 1rem;
    font-weight: 700;
}

footer ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

footer a {
    display: inline-block;
    font-size: 25px;
    color: black;
}

footer a:hover {
    color: rgb(0, 212, 212);
}

footer span {
    margin-top: 40px;
}

@media(max-width: 420px) {
    footer h1 {
        font-size: 1.4rem;
    }

    footer .email {
        font-size: .8rem;
    }
}